.Pancake,
.Pancake_1,
.Pancake_2,
.Pancake_3 {
  height: 29%;
  width: 76%;
  background: linear-gradient(to right bottom, #dfc65a, #ca980e);
  border-radius: 44%;
  box-shadow: inset 0 -25px 5px #f0e4a2;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.Pancake {
  bottom: 0;
  animation-delay: 0.5s;
}

.Pancake_1 {
  bottom: 2.2rem;
  left: 52%;
  /* animation-delay: 1s; */
}
.Pancake_2 {
  bottom: 4.2rem;
  /* animation: falling 2s; */
  /* animation-fill-mode: backwards; */
  /* animation-delay: 2s; */
}
.Pancake_3 {
  bottom: 6.4rem;
  /* animation: falling 3s;
  animation-fill-mode: none;
  animation-delay: 3s; */
}

@keyframes falling {
  0% {
    bottom: 100%;
    opacity: 0;
  }
  100% {
    bottom: initial;
  }
}
