.logo {
    height: 75%;
    display: flex;
    text-decoration: none;
}

.logo p {
    margin: 0.3rem 0 0 0.2rem;
    align-self: center;
    color: #fbeecb;
}

.logo img {
    height: 100%;
    color: #fbeecb;
}

@media (max-width: 500px) {}