.button {
    padding: 10px;
    color: #fbeecb;
    border: none;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    outline: none;
}

.button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.button:disabled {
    cursor: not-allowed;
    color: lightblue;
}

.success {
    color: #75db61;
}

.danger {
    color: #b41919;
}