.singleControl {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 5px 0;
}

.singleControl button {
  display: block;
  font: inherit;
  margin: 0 5px;
  width: 80px;
  padding: 5px;
  cursor: pointer;
  outline: none;
  border: 1px solid #3244e2;
}

.singleControl button:first {
  margin-left: 20px;
}
